<div class="container-timer">

    <div class="p-3 timers">
        <div class="row d-flex text-center titles">
            <div class="col" *ngIf="timerTitle === 'entrada'">Tiempo de entrada</div>
            <div class="col" *ngIf="timerTitle === 'salida'">Tiempo de salida</div>
        </div>

        <div class="row my-3" style="height: 50vh;">
            <app-timer></app-timer>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-center timer-button">
                <button (click)="timerService.changeTimer()" *ngIf="!timerService.timerStatus" class="btn btn-success activate-button" >Activar</button>
                <button (click)="timerService.changeTimer()" *ngIf="timerService.timerStatus" class="btn btn-danger stop-button">Parar</button>
            </div>
        </div>
        <div class="row my-3">
            <div class="col options-button d-flex justify-content-around">
                <button (click)="resetTimer()" class="btn btn-danger stop-button">Reset</button>
                <button (click)="changeTimer()" class="btn btn-primary send-button">{{timerTitle === 'entrada' ? 'Crono Salida' : 'Crono Entrada'}}</button>
            </div>
        </div>
    </div>

    <div class="py-3 send-container">
        <div class="row p-0 m-0">
            <div class="col d-flex justify-content-center">
                <button (click)="goToConfirmation()" class="btn btn-primary send-button">Validar registro</button>
            </div>
        </div>
    </div>
    
</div>
