<div class="container">

    <div class="container py-3">
        <div class="row">
            <div class="col">
                Eliminatoria - Adultos - 18 nov 2023
            </div>
        </div>
        <div class="row">
            <div class="col">
                Foguera de prueba
            </div>
        </div>
    </div>

    <div class="container py-3">
        <div class="row d-flex text-center">
            <div class="col">Tiempo de entrada</div>
            <div class="col">Tiempo de salida</div>
        </div>
        <div class="row justify-content-center">
            <app-timer class="col" [timerId]="'entryTimer'"></app-timer>
            <app-timer class="col" [timerId]="'exitTimer'"></app-timer>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-center">
                <button (click)="changeEntryTimer({name: 'entryTimer', status: true, value: ''})" *ngIf="!entryTimerStatus.status">Activar contador</button>
                <button (click)="changeEntryTimer({name: 'entryTimer', status: false, value: ''})" *ngIf="entryTimerStatus.status">Parar contador</button>
            </div>
            <div class="col d-flex justify-content-center">
                <button (click)="changeExitTimer({name: 'exitTimer', status: true, value: ''})" *ngIf="!exitTimerStatus.status">Activar contador</button>
                <button (click)="changeExitTimer({name: 'exitTimer', status: false, value: ''})" *ngIf="exitTimerStatus.status">Parar contador</button>
            </div>
        </div>
    </div>

    <div class="container py-3">
        <div class="row">
            <div class="col d-flex justify-content-center">
                <button (click)="goToConfirmation()">Validar registro</button>
            </div>
        </div>
    </div>
    
</div>
