.session-container {
    display: flex;
    //text-align: center;
    background-color: var(--color-purple-pastel);
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    .session {
    }
    .asociacion {
    }
}