<div class="p-3 session-container">
    <div class="col-3 col-md-1">
        <img src="../../../assets/logofede.png" class="img-fluid" alt="">
    </div>
    <div class="col">
        <div class="row px-2">
            <div class="col p-0">
                <app-selector [type]="'session'"></app-selector>
            </div>
        </div>
        <div class="row px-2">
            <div class="col p-0">
                <app-selector [type]="'asociacion'"></app-selector>
            </div>
        </div>
    </div>
</div>