<form class="container" [formGroup]="registryForm">
    <div class="row">
        Registro sesión X certámen artístico - Foguera Cementerio Norte
    </div>
    <div class="row py-3">
        <input
            email
            placeholder="email"
            formControlName="email"
        >
    </div>
    <div class="row py-2">
        <app-signer #signer [width]="calculatedSize.width" [height]="calculatedSize.height"></app-signer>
    </div>
    <div class="row py-3">
        Tiempos registrados
    </div>
    <div class="row text-center pt-3">
        <div class="col">
            Entrada
        </div>
        <div class="col">
            Salida
        </div>
    </div>
    <div class="row pb-3 justify-content-around">
        <input
            class="col-4"
            [value]="entryTimer.value"
            formControlName="entryTimer"
        >
        <input
            class="col-4"
            [value]="exitTimer.value"
            formControlName="exitTimer"
        >
    </div>
    <div class="row py-3">
        <button (click)="sendEmail()">Enviar</button>
    </div>
</form>