<div class="d-flex justify-content-center align-items-center" [ngClass]="[timerColorClass, fullScreen, containerClass, paddingClass]" (click)="changeTimerStatus(null)">
    <div class="row">
        <div class="col">
            <p>
                {{timer.minutes}}
            </p>
        </div>
        <div class="col">
            <p>
                :
            </p>
        </div>
        <div class="col">
            <p>
                {{timer.seconds}}
            </p>
        </div>
    </div>
</div>