<div class="container-header">
  <div class="col-3 col-md-1">
    <img src="../../../assets/logofede.png" class="img-fluid" alt="">
  </div>
  <div class="col">
      <div class="row px-2">
          <div class="col p-0">
              <p class="m-0">Cronómetro FFSJ</p>
          </div>
      </div>
  </div>
</div>
  <div class="container-login">
    <input [(ngModel)]="email" placeholder="Email">
    <input [(ngModel)]="password" type="password" placeholder="Contraseña">
    <button class="btn btn-primary" (click)="signIn()">Iniciar sesión</button>
  </div>
  